.top-bar {
  background: #111;
  color: white;
  padding: 6px 20px;
  font-size: 0.85rem;
  display: flex;
  justify-content: flex-end;
}

.top-bar a {
  color: white;
  text-decoration: none;
  opacity: 0.85;
}

.top-bar a:hover {
  opacity: 1;
}

.top-bar .nav-secondary {
  color: white;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #eee;
}

/* Left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

/* Right */
.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}


#search {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background: #e9ecef;
}


.logo-main {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.separator {
  margin: 0 8px;
  opacity: 0.6;
}

.main-nav {
  display: flex;
  gap: 30px;
  position: relative;
}

.nav-item {
  position: relative;
}

.nav-item > a {
  position: relative;
}

.nav-item > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.25s ease;
}

.nav-item:hover > a::after {
  width: 100%;
}

/* ===== Dropdown ===== */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 15px;
  display: none;
  flex-direction: column;
  min-width: 180px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 100;
}

.nav-item:hover .dropdown {
  display: flex;
}

.dropdown a {
  text-decoration: none;
  color: black;
  padding: 5px 0;
  font-size: 14px;
}

.dropdown a:hover {
  text-decoration: underline;
}

.dropdown-divider {
  height: 1px;
  background: #ddd;
  margin: 8px 0;
}


